html, body {
  width: 100vw;
  height: 100vh;
  overflow: none;
}

body {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  border: 1px solid white;
}