body {
    overflow: hidden;
    font-family: sans-serif;
    background-size: 100%;
    background-color: black;
}

#dragtop {
  height: 1px;
  width: 100%;
}

#dragleft {
  height: 100%;
  width: 1px;
}

#dragright {
  height: 100%;
  width: 1px;
}

#dragbottom {
  height: 1px;
  width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

:root::-webkit-scrollbar {
    display: none;
}

:root {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#context-menu {
    position: absolute;
    display: none;
    background-color: white;
    border-style: solid;
    border-color: darkgrey;
    border-width: 2px;
}

#context-menu li {
    padding-left: 10px;
    padding-right: 10px;
}

#context-menu a {
    text-decoration: none;
    color: black;
    cursor: default;
}

#context-menu i {
    position: absolute;
    right: 0px;
}

#context-menu div:hover {
    background: lightgray;
}

#container {
    animation: fadeIn 1s;
    width: 100%;
    height: 100vh;
}

iframe {
    width: 105%;
    height: 105%;
    position: absolute;
    display: block;
    top: 20;
    left: 0;
}

#dateandtime {
    top: 30%;
    bottom: 30%;
    height: 100%;
}

#dateandtimediv {
    position: absolute;
    cursor: default;
    right: 0;
}

#dateandtime:hover #dateandtimediv {
    background-color: darkgrey;
}

#tbarapps {
    position: absolute;
    height: 45px;
    left: 45px;
}

#tbarapps img {
    width: 45px;
    height: 44px;
    cursor: pointer;
}

#battery {
    display: inline-flex;
    align-items: right;
}

#br-os-apps {
    width: 100%;
    padding: 10px;
}

#br-os-apps .app {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
    cursor: pointer;
}

#br-os-apps .app img {
    width: 50px;
    height: 50px;
    margin: 0 auto;
}

#br-os-apps .app p {
    color: white;
    font-size: 14px;
    text-align: center;
}

#taskbar {
    position: absolute;
    display: flexbox;
    bottom: 0;
    width: 100%;
    height: 45px;
    background: rgb(128, 128, 128)
}

#startmenubtn {
    position: absolute;
    width: 45px;
    height: 45px;
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: none;
    border-left-style: none;
    border-width: 2px;
    cursor: pointer;
}

#startmenu {
    display: none;
    position: absolute;
    width: 300px;
    height: 400px;
    bottom: 45px;
    left: 0px;
    z-index: 20;
    background-color: lightgrey;
}

.fa-power-off {
    position: absolute;
    bottom: 0;
    left: 0;
}

.br-os-window {
    position: absolute;
    top: 20%;
    left: 25%;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
    border: 1px solid #eee;
    border-radius: 10px;
    overflow: hidden;
    resize: both;
    transition-timing-function: linear;
}

.br-os-window .window-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: rgb(182, 182, 182);
    padding: 0 10px;
    cursor: move;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    resize: both;
}

.br-os-window .window-bar:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.br-os-window .window-bar .brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

.br-os-window .window-bar .brand img {
    width: 32px;
}

.br-os-window .window-bar .brand p {
    color: rgb(0, 0, 0);
    margin-left: 10px;
}

.br-os-window .window-bar .brand .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    aspect-ratio: 1 / 1;
}

.br-os-window .window-bar .brand .buttons button {
    border: none;
    outline: none;
    color: #fff;
    padding: 5px;
    width: 100%;
    aspect-ratio: 1 / 1;
    cursor: pointer;
}

.br-os-window .window-bar .brand .buttons button:first-child {
    background: rgb(3, 82, 0);
}

.br-os-window .window-bar .brand .buttons button:nth-child(2) {
    background: rgb(59, 0, 82);
}

.br-os-window .window-bar .brand .buttons button:nth-child(3) {
    background: rgb(121, 45, 1);
}

.br-os-window .window-bar .brand .buttons button:last-child {
    background: rgb(255, 43, 43);
    margin-right: 0;
}

.br-os-window .window-bar .brand .buttons button:hover {
    background: rgb(182, 182, 182);
    color: rgb(255, 43, 43);
}

.br-os-window .app {
    width: 100%;
    height: 100%;
    background: #fff;
    overflow: auto;
}

#os-ct-menu {
    display: none;
    position: absolute;
    z-index: 10;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 5px 10px rgba(255, 255, 255, 0, 3), 6px 10px 10px rgba(255, 255, 255, 0, 3);
}

#os-ct-menu ul li {
    color: rgb(46, 26, 3);
}

#os-ct-menu ul li:hover {
    background: antiquewhite;
}

#os-ct-menu.active {
    display: block;
}

#taskbarbuttondiv {
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: black;
    border-style: none;
    cursor: pointer;
}